{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	<li class="nav-header">{{- 'sidebar.header.tools' | trans({}, 'CCDNForumForumBundle') -}}</li>

	{%- if route == 'ccdn_message_message_mail_compose' -%}
		<li class="active"><a href="{{- path('ccdn_message_message_mail_compose') -}}"><i class="icon-white icon-pencil"></i>&nbsp;{{- 'sidebar.link.compose' | trans({}, 'CCDNMessageMessageBundle') -}}</a></li>
	{%- else -%}
		<li><a href="{{- path('ccdn_message_message_mail_compose') -}}"><i class="icon-pencil"></i>&nbsp;{{- 'sidebar.link.compose' | trans({}, 'CCDNMessageMessageBundle') -}}</a></li>
	{%- endif -%}

	{%- if folders is defined -%}
		<li class="nav-header">{{- 'label.folders' |trans({}, 'CCDNMessageMessageBundle') -}}</li>
		{%- for row, folder in folders -%}
			{%- if current_folder is defined -%}
				{%- if folder.name == current_folder.name -%}
					<li class="active">
						<a href="{{- path('ccdn_message_message_folder_show', {'folder_name': folder.getName }) -}}">
							{%- if folder.name == 'inbox' or folder.name == 'sent' -%}
								<i class="icon-white icon-inbox">
							{%- else -%}
								{%- if folder.name == 'drafts' -%}
									<i class="icon-white icon-share-alt">
								{%- else -%}
									{%- if folder.name == 'trash' -%}
										<i class="icon-white icon-trash">
									{%- else -%}
										<i class="icon-white icon-folder-close">
									{%- endif -%}
								{%- endif -%}
							{%- endif -%}
							</i>&nbsp;
							{%- if folder.getCachedUnreadCount -%}
								<b>{{- folder.getName|title -}}&nbsp;<span class="badge pull-right" style="background-color: #fff; color: #000;">{{- folder.getCachedUnreadCount -}}</span></b>
							{%- else -%}
								{{- folder.getName|title -}}
							{%- endif -%}
						</a>
					</li>
				{%- else -%}
					<li>
						<a href="{{- path('ccdn_message_message_folder_show', {'folder_name': folder.getName }) -}}">
							{%- if folder.name == 'inbox' or folder.name == 'sent' -%}
								<i class="icon-inbox">
							{%- else -%}
								{%- if folder.name == 'drafts' -%}
									<i class="icon-share-alt">
								{%- else -%}
									{%- if folder.name == 'trash' -%}
										<i class="icon-trash">
									{%- else -%}
										<i class="icon-folder-close">
									{%- endif -%}
								{%- endif -%}
							{%- endif -%}
							</i>&nbsp;
							{%- if folder.getCachedUnreadCount -%}
								<b>{{- folder.getName|title -}}&nbsp;<span class="badge badge-info pull-right">{{- folder.getCachedUnreadCount -}}</span></b>
							{%- else -%}
								{{- folder.getName|title -}}
							{%- endif -%}
						</a>
					</li>
				{%- endif -%}
			{%- else -%}
				<li>
					<a href="{{- path('ccdn_message_message_folder_show', {'folder_name': folder.getName }) -}}">
						{%- if folder.name == 'inbox' or folder.name == 'sent' -%}
							<i class="icon-inbox">
						{%- else -%}
							{%- if folder.name == 'drafts' -%}
								<i class="icon-share-alt">
							{%- else -%}
								{%- if folder.name == 'trash' -%}
									<i class="icon-trash">
								{%- else -%}
									<i class="icon-folder-close">
								{%- endif -%}
							{%- endif -%}
						{%- endif -%}
						</i>&nbsp;
						{%- if folder.getCachedUnreadCount -%}
							<b>{{- folder.getName|title -}}&nbsp;<span class="badge badge-info pull-right">{{- folder.getCachedUnreadCount -}}</span></b>
						{%- else -%}
							{{- folder.getName|title -}}
						{%- endif -%}
					</a>
				</li>
			{%- endif -%}
		{%- endfor -%}
	{%- else -%}
		{%- if route == 'ccdn_message_message_index' -%}
			<li class="active"><a href="{{- path('ccdn_message_message_index') -}}"><i class="icon-white icon-inbox"></i>&nbsp;{{- 'sidebar.link.messages' | trans({}, 'CCDNMessageMessageBundle') -}}</a></li>
		{%- else -%}
			<li><a href="{{- path('ccdn_message_message_index') -}}"><i class="icon-inbox"></i>&nbsp;{{- 'sidebar.link.messages' | trans({}, 'CCDNMessageMessageBundle') -}}</a></li>
		{%- endif -%}
	{%- endif -%}
{%- endspaceless -%}
