{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	{%- if current_folder.name is not defined -%}
		{%- if route == 'ccdn_message_message_mail_show_by_id' -%}
			{%- set current_folder = message.getFolder -%}
		{%- endif -%}
	{%- endif -%}

	<li class="nav-header">{{- 'ccdn_message_message.sidebar.header.tools' | trans({}, 'CCDNMessageMessageBundle') -}}</li>

	{%- if
		route == 'ccdn_message_message_mail_compose' or
		route == 'ccdn_message_message_mail_compose_to' or
		route == 'ccdn_message_message_mail_compose_reply' or
		route == 'ccdn_message_message_mail_compose_forward'
	-%}
		<li class="active">
			<a href="{{- path('ccdn_message_message_mail_compose') -}}">
				<i class="icon-white icon-pencil"></i>
				{{- 'ccdn_message_message.sidebar.link.compose' | trans({}, 'CCDNMessageMessageBundle') -}}
			</a>
		</li>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_message_message_mail_compose') -}}">
				<i class="icon-pencil"></i>
				{{- 'ccdn_message_message.sidebar.link.compose' | trans({}, 'CCDNMessageMessageBundle') -}}
			</a>
		</li>
	{%- endif -%}


	{%- if folders is defined -%}
		<li class="nav-header">{{- 'ccdn_message_message.label.folders' |trans({}, 'CCDNMessageMessageBundle') -}}</li>
		{%- for row, folder in folders -%}
			{%- if current_folder is defined -%}
				{%- if folder.name == current_folder.name -%}
					<li class="active{%- if folder.getCachedUnreadCount %} marked_unread{%- endif -%}">
						<a href="{{- path('ccdn_message_message_folder_show', {'folderName': folder.getName }) -}}">
							{%- if folder.name == 'inbox' or folder.name == 'sent' -%}
								<i class="icon-white icon-inbox"></i>
							{%- else -%}
								{%- if folder.name == 'drafts' -%}
									<i class="icon-white icon-share-alt"></i>
								{%- else -%}
									{%- if folder.name == 'trash' -%}
										<i class="icon-white icon-trash"></i>
									{%- else -%}
										<i class="icon-white icon-folder-close"></i>
									{%- endif -%}
								{%- endif -%}
							{%- endif -%}
							
							{{- folder.getName|title -}}
							
							{%- if folder.getCachedUnreadCount %}
								<span class="label pull-right" style="vertical-align:top;background-color:#fff;color:#000;">{{- folder.getCachedUnreadCount -}}</span>
							{%- endif -%}
						</a>
					</li>
				{%- else -%}
					<li{%- if folder.getCachedUnreadCount %} class="marked_unread"{%- endif -%}>
						<a href="{{- path('ccdn_message_message_folder_show', {'folderName': folder.getName }) -}}">
							{%- if folder.name == 'inbox' or folder.name == 'sent' -%}
								<i class="icon-inbox"></i>
							{%- else -%}
								{%- if folder.name == 'drafts' -%}
									<i class="icon-share-alt"></i>
								{%- else -%}
									{%- if folder.name == 'trash' -%}
										<i class="icon-trash"></i>
									{%- else -%}
										<i class="icon-folder-close"></i>
									{%- endif -%}
								{%- endif -%}
							{%- endif -%}
							
							{{- folder.getName|title -}}
							
							{%- if folder.getCachedUnreadCount -%}
								<span class="label label-info pull-right">{{- folder.getCachedUnreadCount -}}</span>
							{%- endif -%}
						</a>
					</li>
				{%- endif -%}
			{%- else -%}
				<li{%- if folder.getCachedUnreadCount %} class="marked_unread"{%- endif -%}>
					<a href="{{- path('ccdn_message_message_folder_show', {'folderName': folder.getName }) -}}">
						{%- if folder.name == 'inbox' or folder.name == 'sent' -%}
							<i class="icon-inbox"></i>
						{%- else -%}
							{%- if folder.name == 'drafts' -%}
								<i class="icon-share-alt"></i>
							{%- else -%}
								{%- if folder.name == 'trash' -%}
									<i class="icon-trash"></i>
								{%- else -%}
									<i class="icon-folder-close"></i>
								{%- endif -%}
							{%- endif -%}
						{%- endif -%}
						
						{{- folder.getName|title -}}
						
						{%- if folder.getCachedUnreadCount -%}
							<span class="label label-info pull-right">{{- folder.getCachedUnreadCount -}}</span>
						{%- endif -%}
					</a>
				</li>
			{%- endif -%}
		{%- endfor -%}
	{%- else -%}
		{%- if route == 'ccdn_message_message_index' -%}
			<li class="active{%- if folder.getCachedUnreadCount %} marked_unread{%- endif -%}">
				<a href="{{- path('ccdn_message_message_index') -}}">
					<i class="icon-white icon-inbox"></i>
					{{- 'ccdn_message_message.sidebar.ccdn_message_message.link.messages' | trans({}, 'CCDNMessageMessageBundle') -}}
				</a>
			</li>
		{%- else -%}
			<li{%- if folder.getCachedUnreadCount %} class="marked_unread"{%- endif -%}>
				<a href="{{- path('ccdn_message_message_index') -}}">
					<i class="icon-inbox"></i>
					{{- 'ccdn_message_message.sidebar.ccdn_message_message.link.messages' | trans({}, 'CCDNMessageMessageBundle') -}}
				</a>
			</li>
		{%- endif -%}
	{%- endif -%}



	{% if used_allowance is defined -%}
		<li class="divider"></li>
		<li>
			<span class="pull-left">
				<i class="icon-hdd"></i>
				{{- used_allowance -}}&#37;&nbsp;
			</span>
			<div class="progress progress-danger">
				<div class="bar" style="width:{{- used_allowance -}}%;"></div>
			</div>
		</li>
	{%- endif -%}
	
{%- endspaceless -%}