{%- spaceless -%}
	{%- set route = app.request.attributes.get('_route') -%}

	{%- if current_folder.name is not defined -%}
		{%- if envelope is defined -%}
			{%- set current_folder = envelope.getFolder -%}
		{%- endif -%}
	{%- endif -%}

	<li class="nav-header">{{- 'sidebar.header.tools' | trans({}, 'CCDNMessageMessageBundle') -}}</li>

	{%- if
		route == 'ccdn_message_message_mail_compose' or
		route == 'ccdn_message_message_mail_compose_to' or
		route == 'ccdn_message_message_mail_compose_reply' or
		route == 'ccdn_message_message_mail_compose_forward'
	-%}
		<li class="active">
			<a href="{{- path('ccdn_message_message_mail_compose') -}}">
				<i class="icon-pencil icon-white"></i>
				{{- 'link.message.compose' | trans({}, 'CCDNMessageMessageBundle') -}}
			</a>
		</li>
	{%- else -%}
		<li>
			<a href="{{- path('ccdn_message_message_mail_compose') -}}">
				<i class="icon-pencil"></i>
				{{- 'link.message.compose' | trans({}, 'CCDNMessageMessageBundle') -}}
			</a>
		</li>
	{%- endif -%}

	{%- set folders = message_bundle_folder_list() -%}

	{%- if folders['folders'] is defined -%}
		<li class="nav-header">
			{{- 'sidebar.header.folders' |trans({}, 'CCDNMessageMessageBundle') -}}
		</li>

		{%- import 'CCDNMessageMessageBundle:Sidebar:sidebarMacro.html.twig' as format -%}

		{%- for folder in folders['folders'] -%}
			{%- if current_folder is defined
				and route != 'ccdn_message_message_mail_compose'
				and route != 'ccdn_message_message_mail_compose_to'
				and route != 'ccdn_message_message_mail_compose_reply'
				and route != 'ccdn_message_message_mail_compose_forward'
			-%}
				{{- format.folderWithCurrentFolder(folder, current_folder) -}}
			{%- else -%}
				{{- format.folder(folder) -}}
			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}

	{% if folders['quota'] is defined -%}
		<li class="divider"></li>
		<li style="text-align:center;padding:5px;">
			<div class="span3">
				<i class="icon-hdd"></i>
				{{- folders['quota']['allowed'] -}}&#37;&nbsp;
			</div>
			<div class="span9">
				<div class="progress progress-danger">
					<div class="bar" style="width:{{- folders['quota']['used'] -}}%;"></div>
				</div>
			</div>
		</li>
	{%- endif -%}

{%- endspaceless -%}
