{% extends 'CCDNMessageMessageBundle:Common:Layout/base.html.twig' %}

{% set LayoutTemplate = ccdn_message_message.message.compose.layout_template %}


{% block javascripts %}
	{{ parent() }}
	<script src="{{- asset('bundles/ccdncomponentbbcode/js/jquery.bbeditor.js') -}}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{- truncDot('title.message.compose' |trans({}, 'CCDNMessageMessageBundle'), ccdn_message_message.seo.title_length) -}}{% endblock %}


{% block body_content %}

	{%- spaceless -%}

	<section>
		{%- form_theme form ccdn_message_message.message.compose.form_theme -%}
		<form action="{{- path('ccdn_message_message_user_mail_compose_forward', {'envelopeId': envelope.id }) -}}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			<fieldset>

				<div class="control-group form-title">
					<div class="controls">
						<h3>{{- 'title.message.compose' |trans({}, 'CCDNMessageMessageBundle') -}}</h3>
					</div>
				</div>

				{{- form_errors(form) -}}

				{{- form_widget(form) -}}

				<div class="form-actions">
					<button type="submit" class="btn btn-primary" name="submit[send]">
						{{- 'form.button.send' | trans({}, 'CCDNMessageMessageBundle') -}}
					</button>

					<button type="submit" class="btn btn-default" name="submit[preview]">
						{{- 'form.button.preview' | trans({}, 'CCDNMessageMessageBundle') -}}
					</button>

					<button type="submit" class="btn btn-default" name="submit[save_draft]">
						{{- 'form.button.save_draft' | trans({}, 'CCDNMessageMessageBundle') -}}
					</button>

					<a href="{{- path('ccdn_message_message_user_folder_show', {'folderName': 'inbox' }) -}}" class="btn btn-default">
						{{- 'form.button.cancel' |trans({}, 'CCDNMessageMessageBundle') -}}
					</a>
				</div>
			</fieldset>
		</form>
	</section>

	{%- if preview is not empty -%}
		<section>
			{%- include 'CCDNMessageMessageBundle:Message:Item/item_preview.html.twig' with {'message': preview } -%}
		</section>
	{%- endif -%}

	{%- endspaceless -%}

{% endblock body_content %}
