{%- spaceless -%}
	<a class="btn btn-danger" href="{{- path('ccdn_message_message_user_mail_compose') -}}">
		{{- 'link.message.compose' | trans({}, 'CCDNMessageMessageBundle') -}}
	</a>

	<input type="submit" id="submit[delete]" name="submit[delete]" class="btn btn-danger" value="{{- 'link.message.delete' |trans({}, 'CCDNMessageMessageBundle') -}}">

	<input type="submit" id="submit[mark_as_read]" name="submit[mark_as_read]" class="btn btn-default" value="{{- 'link.message.mark_as_read' |trans({}, 'CCDNMessageMessageBundle') -}}">

	<input type="submit" id="submit[mark_as_unread]" name="submit[mark_as_unread]" class="btn btn-default" value="{{- 'link.message.mark_as_unread' |trans({}, 'CCDNMessageMessageBundle') -}}">

	<select name="select_move_to">
		{%- for row, folder in folders -%}
			<option value="{{- folder.getId -}}">{{- folder.getName|title -}}</option>
		{%- endfor -%}
	</select>

	<input type="submit" id="submit[move_to]" name="submit[move_to]" class="btn btn-default" value="{{- 'link.message.move_to' |trans({}, 'CCDNMessageMessageBundle') -}}">
{%- endspaceless -%}
