{%- spaceless -%}

	{%- set sender = create_profile(message.getSentFromUser) -%}
	{%- set recipient = create_profile(message.getSentToUser) -%}

	<tr class="{{- (envelope.isRead ? 'marked_read': 'marked_unread') -}}" data-read="{{- (envelope.isRead ? 'marked_read': 'marked_unread') -}}" id="message_row_{{- envelope.id -}}">
		<td>
			{% set qualifiers = {0:'all'} %}
			
			{%- if envelope.isRead -%}
				{%- set qualifiers = qualifiers|merge({1:'read'}) -%}
			{%- else -%}
				{%- set qualifiers = qualifiers|merge({1:'unread'}) -%}
			{%- endif -%}
			
			{%- if envelope.isDraft -%}
				{%- set qualifiers = qualifiers|merge({2:'draft'}) -%}
			{%- endif -%}
			
			{%- if envelope.isFlagged -%}
				{%- set qualifiers = qualifiers|merge({3:'flagged'}) -%}
			{%- endif -%}
			
			<input type="checkbox" id="message[{{- envelope.id -}}]" name="envelope[{{- envelope.id -}}]" data-check-all-responds="true" {#data-identifier="{{- current_folder.name -}}"#} 
				data-qualifiers='[
					{%- for qualifier in qualifiers -%}
						{%- if loop.last -%}"{{- qualifier -}}"{%- else -%}"{{- qualifier-}}", {% endif -%}
					{%- endfor -%}
				]'
			>
		</td>
		<td>
			{%- if envelope.isFlagged -%}
				<i class="icon-flag"></i>
			{%- endif -%}
		</td>
		{#
		<td>
			{%- if message.attachment -%}
				<i class="icon-file"></i>
			{%- endif -%}
		</td>
		#}
		<td>
			{%- if envelope.isDraft -%}
				{%- if message.sentFromUser -%}
					{%- if message.sentFromUser.getId == app.user.id -%}
						<i class="icon-repeat"></i>
					{%- else -%}
						<i class="icon-share-alt"></i>
					{%- endif -%}
				{%- else -%}
					<i class="icon-pencil"></i>
				{%- endif -%}
			{%- else -%}
				{%- if message.sentFromUser -%}
					{%- if message.sentFromUser.getId == app.user.id -%}
						<i class="icon-repeat"></i>
					{%- else -%}
						<i class="icon-share-alt"></i>
					{%- endif -%}
				{%- endif -%}
			{%- endif -%}
		</td>
		<td>
			{{- (envelope.isRead) ? '' : '<i class="icon-envelope"></i>' -}}
		</td>
		<td>
			{%- if current_folder.name == "sent" -%}
				{%- if message.getSendTo -%}
					{{- truncDot(message.getSendTo |title, 50) -}}
				{%- else -%}
					Guest
				{%- endif -%}
			{%- else -%}
				{{- sender.getProfilePath() |raw -}}
			{%- endif -%}
		</td>
		<td>
			<a href="{{- path('ccdn_message_message_user_mail_show_by_id', {'envelopeId': envelope.getId }) -}}#{{- envelope.id -}}" title="{{- message.getSubject -}}">
				{{- truncDot(message.getSubject, ccdn_message_message.folder.show.subject_truncate) -}}
			</a>
		</td>
		<td>
			{%- if envelope.getSentDate -%}
				<abbr class="timestamper" title="{{- envelope.getSentDate |date('Y-m-d H:i:s T Z', 'Europe/London') -}}">
					{{- envelope.getSentDate |date(ccdn_message_message.folder.show.sent_datetime_format) -}}
				</abbr>
			{%- endif -%}
		</td>
	</tr>

{%- endspaceless -%}
