{%- spaceless -%}
	{%- macro folder(folder) -%}
		<li	{%- if folder.getCachedUnreadCount %} class="marked_unread"{%- endif -%}>
			<a href="{{- path('ccdn_message_message_user_folder_show', {'folderName': folder.getName }) -}}">
				{%- if folder.getCachedUnreadCount %}
					<span class="badge pull-right">{{- folder.getCachedUnreadCount -}}</span>
				{%- endif -%}


				{%- if folder.name == 'inbox' or folder.name == 'sent' -%}
					{%- set icon = "-inbox" -%}
				{%- else -%}
					{%- if folder.name == 'drafts' -%}
						{%- set icon = "-share-alt" -%}
					{%- else -%}
						{%- if folder.name == 'trash' -%}
							{%- set icon = "-trash" -%}
						{%- else -%}
							{%- set icon = "-folder-close" -%}
						{%- endif -%}
					{%- endif -%}
				{%- endif -%}

				<i class="glyphicon glyphicon{{- icon -}}"></i>

				{{- folder.getName|title -}}
			</a>
		</li>
	{%- endmacro -%}

	{%- macro folderWithCurrentFolder(folder, current_folder) -%}
		<li
			{%- if current_folder is defined -%}
				{%- if folder.name == current_folder.name or folder.getCachedUnreadCount %} class="
						{%- if folder.name == current_folder.name -%}active {% endif -%}
						{%- if folder.getCachedUnreadCount -%}marked_unread{%- endif -%}
					"{%- endif -%}
			{%- else -%}
				{%- if folder.getCachedUnreadCount -%}
					class="{%- if folder.getCachedUnreadCount -%}marked_unread{%- endif -%}"
				{%- endif -%}
			{%- endif -%}
		>
			<a href="{{- path('ccdn_message_message_user_folder_show', {'folderName': folder.getName }) -}}">
				{%- if folder.getCachedUnreadCount %}
					<span class="badge pull-right">{{- folder.getCachedUnreadCount -}}</span>
				{%- endif -%}


				{%- if folder.name == 'inbox' or folder.name == 'sent' -%}
					{%- set icon = "-inbox" -%}
				{%- else -%}
					{%- if folder.name == 'drafts' -%}
						{%- set icon = "-share-alt" -%}
					{%- else -%}
						{%- if folder.name == 'trash' -%}
							{%- set icon = "-trash" -%}
						{%- else -%}
							{%- set icon = "-folder-close" -%}
						{%- endif -%}
					{%- endif -%}
				{%- endif -%}

				<i class="glyphicon glyphicon{{- icon -}}"></i>

				{{- folder.getName|title -}}
			</a>
		</li>
	{%- endmacro -%}

{%- endspaceless -%}
