{% extends param('ccdn_message_message.message.layout_templates.compose') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcommon/css/form.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css" />
	<link href="{{ asset('bundles/ccdncomponentbbcode/css/bbcode.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('bundles/ccdncomponentbbcode/js/jquery.bbcode.js') }}" type="text/javascript"></script>
{% endblock %}

{% block title %}{{ 'title.message.compose' |trans({}, 'CCDNMessageMessageBundle') }}{% endblock %}

{% block sidebar %}
	{% if is_granted('ROLE_MODERATOR') %}
	<div class="common_box_5 bg_header_smoke">
		<div class="common_box_header"><span class="heading_glow">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% if is_granted('ROLE_ADMIN') %}
		<div class="common_box_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
		{% endif %}
	</div>
	{% endif %}
{% endblock %}

{% block body %}

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="common_box_5 bg_header_smoke">
	<div class="common_box_header">
		<span class="heading_glow">{{ 'title.message.compose' |trans({}, 'CCDNMessageMessageBundle') }}</span>
	</div>
	<div class="common_box_panel">
		<form action="{{ path('cc_message_message_compose') }}" method="post" {{ form_enctype(form) }}>
			{{ form_row(form._token) }}
			<div class="errors">{{ form_errors(form) }}</div>
			<table class="common_list">
				<thead>
					<th style="width: 25%;"></th>
					<th style="width: 75%;"></th>
				</thead>
				<tfoot>
				</tfoot>
				<tbody>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.send_to, null, { 'label': 'form.label.message.to'| trans({}, 'CCDNMessageMessageBundle')}) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.send_to) }}
							{{ form_widget(form.send_to) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.subject, null, { 'label': 'form.label.message.subject'| trans({}, 'CCDNMessageMessageBundle')}) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.subject) }}
							{{ form_widget(form.subject) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.body, null, { 'label': 'form.label.message.body'| trans({}, 'CCDNMessageMessageBundle')}) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.body) }}
							{% form_theme form 'CCDNComponentBBCodeBundle:Form:fields.html.twig' %}
							{{ form_widget(form.body) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_right v_align_top">{{ form_label(form.flagged, null, { 'label': 'form.label.message.flagged'| trans({}, 'CCDNMessageMessageBundle')}) }}</td>
						<td class="h_align_left v_align_top">
							{{ form_errors(form.flagged) }}
							{{ form_widget(form.flagged) }}
						</td>
					</tr>
					<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
						<td class="h_align_centre v_align_middle" colspan="2">
							<input type="submit" value="{{ 'form.button.message.send' | trans({}, 'CCDNMessageMessageBundle') }}" />
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
</div>

{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}

{% endblock %}