	<div class="section_table_panel">
		<table class="common_list">
			<tbody>
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right">
						<span class="table_label">
						{{ 'message.send.to' |trans({}, 'CCDNMessageMessageBundle') }}
						</span>
					</td>
					<td class="left">
						<span class="table_data">
						{{ preview.getSendTo }}
						</span>
					</td>
				</tr>
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right">
						<span class="table_label">
						{{ 'message.sent.from' |trans({}, 'CCDNMessageMessageBundle') }}
						</span>
					</td>
					<td class="left">
						<span class="table_data">
						<a href="{{ path(user_profile_route, {'user_id': user.getId}) }}">{{ user.getUsername }}</a>
						</span>
					</td>
				</tr>
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right">
						<span class="table_label">
						{{ 'message.subject' |trans({}, 'CCDNMessageMessageBundle') }}
						</span>
					</td>
					<td class="left">
						<span class="table_data">
						{{ preview.getSubject }}
						</span>
					</td>
				</tr>
				{% if preview.getAttachment %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
					<td class="right">
						<span class="table_label">
						{{ 'message.attachment' |trans({}, 'CCDNMessageMessageBundle') }}
						</span>
					</td>
					<td class="left">
						<span class="table_data">
						<a href="{{ path('cc_attachment_download', {'attachment_id': preview.getAttachment.getId }) }}"><img src="{{ path('cc_attachment_thumbnail', {'attachment_id': preview.getAttachment.getId }) }}" alt="icon"></a>
						</span>
					</td>
				</tr>
				{% endif %}
				<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">					
					<td class="left" colspan="2">
						<div class="round_box" style="margin-left: 20px !important;">
							<span class="common_body">
							{{ BBCode(preview.getBody | raw) | raw }}
							</span>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
