{% extends param('ccdn_message_message.message.layout_templates.show') %}

{% block stylesheets %}
	{{ parent() }}
	<link href="{{ asset('bundles/ccdncomponentcrumbtrail/css/crumbs.css') }}" rel="stylesheet" type="text/css">
	<link href="{{ asset('bundles/ccdncomponentbbcode/css/bbcode.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ 'title.message.show' |trans({'%message_subject%': message.getSubject }, 'CCDNMessageMessageBundle') }}{% endblock %}

{% block sidebar %}
{% if is_granted('ROLE_MODERATOR') %}
<div class="sidebar">
	<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.special' | trans({}, 'CCDNComponentCommonBundle') }}</span></div>
	<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_moderator_forum_cp') }}">{{ 'general.view.link_moderate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
	{% if is_granted('ROLE_ADMIN') %}
	<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_admin_forum_cp') }}">{{ 'general.view.link_administrate' | trans({}, 'CCDNComponentCommonBundle') }}</a></div>
	{% endif %}
</div>
{% endif %}

<div class="sidebar">
	<div class="sidebar_header"><span class="sidebar_header">{{ 'sidebar.header.tools' | trans({}, 'CCDNForumForumBundle') }}</span></div>
	<div class="sidebar_panel"><a class="sidebar" href="{{ path('cc_message_message_compose') }}">{{ 'sidebar.link.compose' | trans({}, 'CCDNMessageMessageBundle') }}</a></div>
</div>
{% endblock %}

{% block body %}

{% include 'CCDNComponentCommonBundle:Flashes:flashes.html.twig' %}

<div class="section_wrap_top">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>
<div class="section_wrap_bottom">
	<div class="section_header">
		<h2>{{ 'title.message.show' |trans({'%message_subject%': message.getSubject }, 'CCDNMessageMessageBundle') }}</h2>
	</div>
</div>

<div class="section_wrap_standalone">
	<div class="row" style="width: 100%; height: 100%; clear: both; overflow: hidden;">
		
		<div style="display: block; width: 100%; height: 100%; float: right; margin: 0px; overflow: hidden;">
			<div style="margin: 0px 0px 0px 111px; overflow: hidden; border-left: 1px solid #ccc;">
				<div class="row">
					<div class="section_tool_strip">
						{% if message.isDraft %}
						<a class="button_red" href="{{ path('cc_message_message_send_draft', {'message_id': message.id }) }}">{{ 'link.message.send_draft' |trans({}, 'CCDNMessageMessageBundle') }}</a>
						{% endif %}
						<a class="button_red" href="{{ path('cc_message_message_compose_reply', {'message_id': message.id }) }}">{{ 'link.message.reply' |trans({}, 'CCDNMessageMessageBundle') }}</a>
						<a class="button_red" href="{{ path('cc_message_message_compose_forward', {'message_id': message.id }) }}">{{ 'link.message.forward' |trans({}, 'CCDNMessageMessageBundle') }}</a>
						<a class="button_red" href="{{ path('cc_message_message_delete', {'message_id': message.id }) }}">{{ 'link.message.delete' |trans({}, 'CCDNMessageMessageBundle') }}</a>
						{#<a class="button_red" href="{{ path('cc_message_message_mark_as_read', {'message_id': message.id }) }}">{{ 'link.message.mark_as_read' |trans({}, 'CCDNMessageMessageBundle') }}</a>#}
						<a class="button_red" href="{{ path('cc_message_message_mark_as_unread', {'message_id': message.id }) }}">{{ 'link.message.mark_as_unread' |trans({}, 'CCDNMessageMessageBundle') }}</a>
					</div>

					<div class="section_table_panel">
						<table class="common_list">
							<tbody>
								{% if message.getSentFrom.getId == user.getId %}
								<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
									<td class="right">
										<span class="table_label">{{ 'message.send.to' |trans({}, 'CCDNMessageMessageBundle') }}</span>
									</td>
									<td class="left" colspan="3">
										<span class="table_data">{{ message.getSendTo }}</span>
									</td>
								</tr>
								{% endif %}
								<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
									<td class="right" style="width: 20%;">
										<span class="table_label">{{ 'message.sent.from' |trans({}, 'CCDNMessageMessageBundle') }}</span>
									</td>
									<td class="left" style="width: 30%;">
										{% if message.getSentFrom %}
										<span class="table_data"><a href="{{ path(user_profile_route, {'user_id': message.getSentFrom.getId}) }}">{{ message.getSentFrom }}</a></span>
										{% else %}Guest{% endif %}
									</td>
									<td class="right" style="width: 20%;">
										<span class="table_label">{{ 'message.sent.date' |trans({}, 'CCDNMessageMessageBundle') }}</span>
									</td>
									<td class="left" style="width: 30%;">
										<span class="table_data">{{ message.getSentDate|date("d/m/Y - H:i:s") }}</span>
									</td>
								</tr>
								<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
									<td class="right">
										<span class="table_label">{{ 'message.subject' |trans({}, 'CCDNMessageMessageBundle') }}</span>
									</td>
									<td class="left" colspan="3">
										<span class="table_data">{{ message.getSubject }}</span>
									</td>
								</tr>
								{% if message.getAttachment %}
								<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">
									<td class="right">
										<span class="table_label">{{ 'message.attachment' |trans({}, 'CCDNMessageMessageBundle') }}</span>
									</td>
									<td class="left" colspan="3">
										<a href="{{ path('cc_attachment_download', {'attachment_id': message.getAttachment.getId }) }}"><img src="{{ path('cc_attachment_thumbnail', {'attachment_id': message.getAttachment.getId }) }}" alt="icon"></a>
									</td>
								</tr>
								{% endif %}
								<tr class="{{ cycler(['row_odd', 'row_even'], 'cycle') }}">					
									<td class="left" colspan="4" style="overflow: hidden; padding: 0px;">
										<div class="round_box" style="overflow: hidden; clear: both; min-height: 200px !important;">
											<span class="common_body">
											{{ BBCode(message.getBody | raw) | raw }}
											</span>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				
				</div>
			</div>
		</div>
		
		<div style="display: block; width: 111px; height: 100%; float: left; margin: 0px -111px 0px 0px; overflow: hidden;">
			<div style="display: block; height: 100%; margin: 0px; overflow: hidden;">
				<div class="row">
					<div>
						<div class="v_align_top h_align_centre">
							{% for row, folder in folders %}
								{% if folder.name == current_folder.name %}
								<div class="section_tool_strip" style="background-color: #ebebeb !important;"><a class="sidebar" href="{{ path('cc_message_folder_show', {'folder_name': folder.getName }) }}">{% if folder.getCacheUnreadCount %}<b>{{ folder.getName|title }}&nbsp;({{ folder.getCacheUnreadCount }})</b>{% else %}{{ folder.getName|title }}{% endif %}</a></div>
								{% else %}
								<div class="section_tool_strip"><a class="sidebar" href="{{ path('cc_message_folder_show', {'folder_name': folder.getName }) }}">{% if folder.getCacheUnreadCount %}<b>{{ folder.getName|title }}&nbsp;({{ folder.getCacheUnreadCount }})</b>{% else %}{{ folder.getName|title }}{% endif %}</a></div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

</div>

<div class="section_wrap_standalone">
	{% include 'CCDNComponentCrumbTrailBundle:Trail:trail.html.twig' with {'crumbs': crumbs } %}
</div>

{% endblock %}